.header {
  height: 75px;
  width: 100%;
  display: grid;
  grid-template-columns: 18.9% 81%;
  position: fixed;
  
}
.container {
  padding: 20px;
  background-color: white;
  height: 75px;
}

.header_logo {
  width: 50px;
  margin-top: -20px;
}

.header_heading {
  display: inline;
  margin: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 29px;
}

.container_right {
  background-color: #fafcff;
  height: 75px;
  display: flex;
  justify-content: end;
  padding: 20px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.search {
  padding-left: 10px;
  outline: none;
  border: 1px solid #b2bac4;
  border-radius: 10px;
}