.users {
  margin-right: 15px;
  padding-top: 85px;
}

.heading {
  margin-bottom: 30px;
}

.container {

}
.userContainer { 
  display: grid;
  grid-template-columns: 15% 80%;
  margin-bottom: 25px;
}

.btn{
  width: 55%;  
  margin-left: 20%;

}

.data{
  font-size: 18px;
  color: #8190A5;
  margin-left: 10px;
  word-break: break-all;
  width: 60%;
}
.dataContainer{
  width: 70%;
  display: grid;
  grid-template-columns: 80% 30%;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid  #C0CCDA;
  padding: 15px;
  border-radius: 10px
}

.avatarContainer{
  display: flex;
  flex-direction: column;
  height: auto;
}

.readyContainer {

}

.avatar{
  object-fit: cover;
  border-radius: 50%;
  width: 50%;
  margin-left: 20%;
  margin-bottom: 10px;
  height: 80px;
}

.explorer {
  margin-bottom: 25px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.selected {
  font-weight: 700;
}

.empty {
  background-color: white;
}