.side {
  margin-right: 15px;
  padding-top: 85px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 14px 54px 0px;
  padding-left: 20px;
}
.ul {
  padding-left: 15px;
}

.item {
  list-style: none;
  margin-bottom: 15px;
  
}

.link {
  text-decoration: none;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-left: -30px;
  
}

.friend {
  margin-right: 10px;
}
.friends {
  color: rgb(111, 127, 146);
}
.avatar {
  border-radius: 50%;
  width: 65%;
  padding: auto;
  margin-left: 13px;
  margin-bottom: 5px;
}

.name{
  text-align: center;
  color: rgb(111, 127, 146);

}

.menu {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(111, 127, 146);
  font-size: 16px;
}

.avatar_profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.name_profile {
  font-weight: 700;
  margin-left: 15px;
  font-size: 16px;
}

.logo {
  display: flex;
}

hr {
  color:rgb(111, 127, 146);
  width: 90%;
  
}

.active {
  font-weight: 700;
}