.side {
  margin-right: 15px;
  padding-top: 15px;
}
.ul {
  padding-left: 15px;
}

.item {
  list-style: none;
}

.link {
  text-decoration: none;
}

.active {
  font-weight: 700;
  text-decoration: underline;
}